.navbar {
  margin: auto;
  display: flex;
  padding: 1rem 10%;
    justify-content: space-between;
    min-height: 5vh;
}

.center {
  width: 100%;
  min-height: 93vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form>*+* {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: rgb(var(--on-accent-rgb));
  background-color: rgb(var(--accent-rgb));
  border: none;
  border-radius: var(--border-radius);
  padding: 1rem;
  font-size: 14px;
  font-weight: 600;
}

.form button:hover {
  cursor: pointer;
  background-color: rgb(var(--darker-accent-rgb));
}

.form button span {
  white-space: nowrap;
}

.form button svg {
  width: 1rem;
  fill: currentColor;
}

.field {
  display: block;
}

.field span {
  font-weight: 600;
  font-size: 14px;
}

.field input {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: .5rem;
  border: 1px solid rgb(var(--tertiary-background-rgb));
  border-radius: var(--border-radius);
  background: rgb(var(--secondary-background-rgb));
  color: rgb(var(--hint-rgb));
  font-size: 1rem;
  line-height: 1.5;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loading svg {
  width: 2rem;
  height: 2rem;
  color: rgb(var(--accent-rgb));
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.success {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  background: rgb(var(--secondary-background-rgb));
  border: 1px solid rgb(var(--tertiary-background-rgb));
  border-radius: var(--border-radius);
  padding: 1rem;
}

.success>div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.success code {
  font-family: var(--font-mono);
  color: rgb(var(--secondary-foreground-rgb));
}

.success svg {
  width: 2rem;
  height: 2rem;
  color: rgb(var(--accent-rgb));
}

.success:hover {
  background-color: rgb(var(--hover-background-rgb));
}

.success:hover code {
  color: rgb(var(--accent-rgb));
}
/* custom css */

.mainCardContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: rgba(116, 137, 139, 0.301);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(8, 198, 205, 0.544);
  align-items: center;
  padding: 50px;
}

.leftContainer {
  width: 100%;
  padding: 1em;
  margin: auto;
  /* display: none; */
}

.rightContainer {
  /* border: 1px solid white; */
  width: 100%;
  padding: 1em auto;
  align-items: center;
  /* margin: 1em auto; */

}

.leftContainer img {
  /* border: 1px solid white; */
  margin: auto;
  border-radius: 1em;
  width: 35em;
}

.imgBOttom {
  border: 1px solid white;
  margin: 1em auto;
  border-radius: 2em;
  max-width: 20em;
  align-items: center;
}


.Available {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  border-radius: 2em;
  overflow: hidden;
  font-weight: bold;
  font-family: 'Space Grotesk', sans-serif;
}

.Name {
  font-weight: bold;
  font-size: 2em;
  font-family: 'Black Ops One', cursive;
  margin: 0 0 0.3em 0;
  width: 100%;
  text-align: center;
  color: rgb(221, 221, 221);
  letter-spacing: 2px;
}

.Description {
  font-size: 1.5em;
  font-family: 'Chakra Petch', sans-serif;
}

.footer {
  text-align: center;
  margin: 1em 0 0 0;
  bottom: 0;
  position: relative;
  width: 100%;
  padding: 0.5em 0;
  box-shadow: 0 0 10px white;
  font-family: 'Space Grotesk', sans-serif;
  text-transform: capitalize;
  font-weight: 800;

}

.btns {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 1em 0;
}

.MainButtonDiv {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
}

.leftBtnCont {
  height: fit-content;
  margin: auto;
  font-size: 1.5em;

  font-weight: bold;
  color: rgb(43, 10, 80);
  font-family: 'Space Grotesk', sans-serif;
  padding: 0.5em 0
}

.rightBtnCont {
  /* border: 1px solid white; */
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MintHead {
  color: rgb(0, 76, 103);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  font-family: 'Black Ops One', cursive;
  letter-spacing: 2px;
  margin: 0.2em 0 0 0;
}

.MainCont02 {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(233, 229, 233, 0.498);
  background-color: rgba(174, 149, 165, 0.524);
}

.timerHead {
  font-size: 1.3em;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;


}

.timer {
  font-size: 1em;
  font-weight: bold;
  font-family: 'Space Grotesk', sans-serif;

}

.MintButtons {
  font-family: 'Space Grotesk', sans-serif;
  margin: 1em auto;
  background-color: rgba(27, 126, 213, 0.661) !important;
  color: rgb(241, 233, 233) !important;
  box-shadow: 0 0 15px white;
}

@media screen and (max-width:600px) {
  .navbar {
    padding: 1rem;
  }

  .leftBtnCont {
    /* display: none; */
    font-size: 1em;

  }

  .mainCardContainer {
    width: 95%;

  }

  .leftContainer {
    padding: 0.5em;
    /* display: none; */
  }







}